@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Brand */
    --brand-one: #18161e;
    --brand-two: #282830;
    --brand-orange: #e58333;
    --on-dark: #cbc9d3;

    /* General */
    --walter-white: #ffffff;

    /* Neon */
    --green: #29b33b;
    --green-shadow: #51e064;
    --blue: #3887d6;
    --blue-shadow: #66a7e8;
    --orange-shadow: #f2aa6f;

    /* For inputs, buttons, textareas, and general divs */
    --br: 8px;
}

html, body, .App {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--brand-one);
}

.App {
    position: relative;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
    margin: 0;
    padding: 0;
}

input, button, textarea {
    font-family: 'Raleway', sans-serif;
}

.auto {
    width: 90%;
    margin: auto;
    margin-top: 15px;
}

.gimme-border {
    border-bottom: 2px solid var(--brand-orange);
}

.neon-green {
    display: block;
    background-color: var(--green);
    box-shadow: 0 0 14px var(--green-shadow);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.neon-orange {
    display: block;
    background-color: var(--brand-orange);
    box-shadow: 0 0 14px var(--orange-shadow);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.neon-blue {
    display: block;
    background-color: var(--blue);
    box-shadow: 0 0 14px var(--blue-shadow);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.animate {
    animation: fade 0.5s linear 0.5s infinite alternate;
}

.rotate {
    animation: rotate 1s linear 1s infinite alternate;

}

@keyframes fade {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes rotate {
  from {
      opacity: 1;
      transform: rotate(0);
  }
  to {
      opacity: 0;
      transform: rotate(360deg);
  }
}
